@model AppUserCreateDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Create a Company Manager</h5>
                <form id="form" asp-controller="User" asp-action="CreatePersonal" method="post" enctype="multipart/form-data" onsubmit="return validateDate();">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="UploadPath" class="form-label">Photo</label>
                                <div class="form-group">
                                    <img src="@Model.ImagePath" width="200" />
                                </div>

                                <div class="form-group">
                                    <span asp-validation-for="UploadPath" class="text-danger"></span>
                                    <input asp-for="UploadPath" type="file" class="form-control mb-3" placeholder="Photo">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImagePath" />
                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="Status" />
                                <input type="hidden" asp-for="Titles" />
                                <input type="hidden" asp-for="CompanyId" />
                                <input type="hidden" asp-for="Companies" />
                                <input type="hidden" asp-for="Password" />
                                <input type="hidden" asp-for="ConfirmPassword" />

                                <div class="form-group">
                                    <label asp-for="Name" class="form-label">Name</label><br />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <input asp-for="Name" type="text" class="form-control mb-3" placeholder="Enter Name">
                                </div>

                                <div class="form-group">
                                    <label asp-for="SecondName" class="form-label">Second Name</label><br />
                                    <span asp-validation-for="SecondName" class="text-danger"></span>
                                    <input asp-for="SecondName" type="text" class="form-control mb-3" placeholder="Enter Second Name">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Surname" class="form-label">Surname</label><br />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                    <input asp-for="Surname" type="text" class="form-control mb-3" placeholder="Enter Surname">
                                </div>

                                <div class="form-group">
                                    <label asp-for="CompanyId" class="form-label">Company</label><br />
                                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                                    <select asp-for="CompanyId" type="text" class="form-control mb-3" asp-items="@(new SelectList(Model.Companies,"Id","Name"))" disabled></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TitleId" class="form-label">Title</label><br />
                                    <span asp-validation-for="TitleId" class="text-danger"></span>
                                    <select asp-for="TitleId" type="text" class="form-control mb-3" asp-items="@(new SelectList(Model.Titles.Where(x => x.CompanyId == Model.CompanyId),"Id","Name"))"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="BloodGroup" class="form-label">Blood Group</label><br />
                                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                    <select asp-for="BloodGroup" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<BloodGroup>()"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Profession" class="form-label">Profession</label><br />
                                    <span asp-validation-for="Profession" class="text-danger"></span>
                                    <input asp-for="Profession" type="text" class="form-control mb-3" placeholder="Enter Profession">
                                </div>

                                <div class="form-group">
                                    <label asp-for="BirthDate" class="form-label">Birth Date</label><br />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    <input id="birthDateInput" asp-for="BirthDate" type="date" class="form-control mb-3" placeholder="Enter Birth Date">
                                </div>

                                <div class="form-group">
                                    <label asp-for="IdentityNumber" class="form-label">Identity Number</label><br />
                                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                                    <input asp-for="IdentityNumber" type="text" class="form-control mb-3" placeholder="Enter Identity Number">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email" class="form-label">Email</label><br />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input asp-for="Email" type="email" class="form-control mb-3" placeholder="Enter Email">
                                </div>

                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label><br />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    <input asp-for="PhoneNumber" type="tel" class="form-control mb-3" placeholder="Enter Phone Number">
                                </div>

                                <div class="form-group">
                                    <label asp-for="JobStartDate" class="form-label">Start Date</label><br />
                                    <span asp-validation-for="JobStartDate" class="text-danger"></span>
                                    <input id="jobStart" asp-for="JobStartDate" type="date" class="form-control mb-3" placeholder="Enter Personal Job Start Date">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary btn-block">Add Personal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a asp-controller="User" asp-action="Index" class="ms-4 mb-2 mt-0">
                    <button class="btn btn-outline-info">Back to List</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript kodunu belirtilen form ve input alanıyla eşleştirmek için gerekli id'leri kullanın
    var formId = "form"; // Formun id'si
    var inputId = "birthDateInput"; // DateTime input alanının id'si
    var jobStartId = "jobStart"; // DateTime input alanının id'si

    // Form gönderildiğinde tetiklenen fonksiyon
    function validateDate() {
        var form = document.getElementById(formId); // Formu al
        var input = document.getElementById(inputId); // Input alanını al
        var job = document.getElementById(jobStartId); // Input alanını al

        // Şu anki tarihi al
        var now = new Date();

        // Giriş yapılan tarihi al
        var enteredDate = new Date(input.value);
        var jobDate = new Date(job.value);

        // Şuandan 1 yıl öncesini hesapla
        var ago = new Date(now.getFullYear() - 18, now.getMonth(), now.getDate());

        // Bugünden ileri bir tarih girilmişse
        if (jobDate > now) {
            alert("You cannot select a future date!");
            return false;
        }


        // Girilen tarih şuandan 1 yıl öncesine denk geliyorsa
        if (ago <= enteredDate) {
            alert("You must be at least 18 years old to register.");
            return false;
        }

        // Formu gönder
        form.submit();
    }
</script>