@model ExpenseCreateDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Add Expense</h5>
                <form id="addExpenseForm" asp-controller="Expense" asp-action="Create" method="post" onsubmit="return validateDate();">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <input type="hidden" asp-for="CreateDate" />
                        <input type="hidden" asp-for="Status" />

                        <div class="form-group">
                            <label asp-for="ShortDescription" class="form-label">Short Description</label><br />
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            <input asp-for="ShortDescription" type="text" class="form-control mb-3" placeholder="Enter Short Description">
                        </div>

                        <div class="form-group">
                            <label asp-for="LongDescription" class="form-label">Long Description</label><br />
                            <span asp-validation-for="LongDescription" class="text-danger"></span>
                            <input asp-for="LongDescription" type="text" class="form-control mb-3" placeholder="Enter Long Description">
                        </div>

                        <div class="form-group">
                            <label asp-for="AmountString" class="form-label">Amount</label><br />
                            <span asp-validation-for="AmountString" class="text-danger"></span>
                            <input asp-for="AmountString" type="text" class="form-control mb-3" placeholder="0,00">
                        </div>

                        <div class="form-group">
                            <label asp-for="Currency" class="form-label">Currency</label><br />
                            <span asp-validation-for="Currency" class="text-danger"></span>
                            <select asp-for="Currency" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<Currency>()"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ExpenseDate" class="form-label">Expense Date</label><br />
                            <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                            <input id="ExpenseDate" asp-for="ExpenseDate" type="date" class="form-control mb-3">
                        </div>

                        <div class="form-group">
                            <label asp-for="Type" class="form-label">Expense Type</label><br />
                            <span asp-validation-for="Type" class="text-danger"></span>
                            <select asp-for="Type" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<ExpenseType>()"></select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block">Add Expense</button>
                        </div>
                        
                    </div>
                </form>
                    <a asp-controller="Expense" asp-action="Index" class="ms-4 mb-2 mt-0">
                        <button class="btn btn-outline-info">Back to List</button>
                    </a>
            </div>
        </div>
    </div>
</div>

@*<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("addExpenseForm").addEventListener("submit", function (event) {
            var expenseDate = document.getElementById("ExpenseDate").value;
            var selectedDate = new Date(expenseDate);
            var currentDate = new Date();

            if (selectedDate > currentDate) {
                alert("You cannot select a future date.");
                event.preventDefault(); // Formun gönderimini engeller
            }
        });
    });
</script>*@

<script>
    var formId = "addExpenseForm";
    var inputId = "ExpenseDate";
    function validateDate() {
        var form = document.getElementById(formId);
        var input = document.getElementById(inputId);
        var now = new Date();
        var enteredDate = new Date(input.value);

        var oneYearAgo = new Date(now.getFullYear() - 1, now.getMonth(), now.getDate());

        if (enteredDate > now) {
            alert("You cannot select a future date!");
            return false;
        }

        if (enteredDate <= oneYearAgo) {
            alert("You cannot select more than one year ago!");
            return false;
        }

        form.submit();
    }
</script>