@model CreateLeaveDTO
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Create A Leave</h5>
                <form asp-controller="Leave" asp-action="CreateLeave" asp-area="CompanyAdministrator" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="Status" />
                                <div class="form-group">
                                    <label asp-for="StartDate" class="form-label">Start Date</label><br />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                    <input asp-for="StartDate" id="StartDate" type="date" class="form-control mb-3" onchange="calculateDuration()">
                                </div>
                                <div class="form-group">
                                    <label asp-for="EndDate" class="form-label">End Date</label><br />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                    <input asp-for="EndDate" id="EndDate" type="date" class="form-control mb-3" onchange="calculateDuration()">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Explanation" class="form-label">Explanation</label><br />
                                    <span asp-validation-for="Explanation" class="text-danger"></span>
                                    <input asp-for="Explanation" type="text" class="form-control mb-3" placeholder="Enter Explanation" onfocus="calculateDuration()">
                                </div>
                                <div class="form-group">
                                    <label asp-for="LeaveTypes">Leave Type</label><br />
                                    <span asp-validation-for="LeaveTypes" class="text-danger"></span>
                                    <select class="form-control mb-3 auth-form-dark" asp-for="LeaveTypes" asp-items="@Html.GetEnumSelectList<LeaveType>()" onfocus="calculateDuration()"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalLeaveDays" class="form-label">Total Leave Days</label><br />
                                    <input asp-for="TotalLeaveDays" type="number" class="form-control mb-3" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Approved By</label><br />
                                    <input type="text" class="form-control mb-3" disabled value="@ViewBag.ApprovedBy">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary btn-block">Add Leave</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a asp-controller="Leave" asp-action="Index" class="ms-4 mb-2 mt-0">
                    <button class="btn btn-outline-info">Back to List</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function calculateDuration() {
        var startDate = new Date(document.getElementById("StartDate").value);
        var endDate = new Date(document.getElementById("EndDate").value);
        var millisecondsPerDay = 1000 * 60 * 60 * 24;
        var duration = 0;

        // Loop through each day in the date range
        while (startDate <= endDate) {
            // Increment duration if it's not a Saturday or Sunday
            if (startDate.getDay() !== 6 && startDate.getDay() !== 0) {
                duration++;
            }
            startDate.setTime(startDate.getTime() + millisecondsPerDay);
        }

        document.getElementById("TotalLeaveDays").value = duration;
    }
</script>
