@model UpdateLeaveDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Update a Leave</h5>
                <form asp-controller="Leave" asp-action="EditLeave" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="row">


                            <div class="col-md-8">

                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="UpdateDate" />
                                <input type="hidden" asp-for="DeleteDate" />
                                <input type="hidden" asp-for="AppUserId" />
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="LeaveStatus" />
                                <input type="hidden" asp-for="Status" />

                                <div class="form-group">
                                    <label asp-for="FullName" class="form-label">Personal Name</label><br />
                                    <input asp-for="FullName" type="text" class="form-control mb-3" disabled>
                                </div>

                                <div class="form-group">
                                    <label asp-for="StartDate" class="form-label">Start Date</label><br />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                    <input asp-for="StartDate" type="date" class="form-control mb-3">
                                </div>

                                <div class="form-group">
                                    <label asp-for="EndDate" class="form-label">End Date</label><br />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                    <input asp-for="EndDate" type="date" class="form-control mb-3">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Explanation" class="form-label">Explanation</label><br />
                                    <span asp-validation-for="Explanation" class="text-danger"></span>
                                    <input asp-for="Explanation" type="text" class="form-control mb-3">
                                </div>

                                <div class="form-group">
                                    <label asp-for="LeaveType">Leave Type</label><br />
                                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                                    <select class="form-control mb-3 auth-form-dark" asp-for="LeaveType" asp-items="@Html.GetEnumSelectList<LeaveType>()"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TotalLeaveDays" class="form-label">Total Leave Days</label><br />
                                    <span asp-validation-for="TotalLeaveDays" class="text-danger"></span>
                                    <input asp-for="TotalLeaveDays" type="number" class="form-control mb-3">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary btn-block">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a asp-controller="Leave" asp-action="Index" class="ms-4 mb-2 mt-0">
                    <button class="btn btn-outline-info">Back to List</button>
                </a>
            </div>
        </div>
    </div>
</div>