@model ForgotPasswordVM

@{
    Layout = "_LoginLayout";
}

<div class="card card-inverse-danger col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
        <h2 class="card-title text-center mb-3">Enter Your Email</h2>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Email" class="form-label">Email</label><br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Email" type="email" class="form-control mb-3 auth-form-transparent" id="defaultFormControlInput" placeholder="Enter Your Email" aria-describedby="defaultFormControlHelp">
                </div>

                <div class="forgot-pass">
                    "Remember your password?"
                    <a asp-action="Login">Sign In</a>
                </div>
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-secondary btn-rounded btn-lg">Send Reset Link</button>
                </div>
                <p class="sign-up">
                    "Don't have an Account?"
                    <a asp-action="Register">Sign Up</a>
                </p>
            </div>
        </form>
    </div>
</div>