@model LoginDTO

@{
    Layout = "_LoginLayout";
}

<div class="card card-inverse-danger col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
        <h2 class="card-title text-center mb-3">Login</h2>
        <form asp-action="Login" method="post">
            <div class="form-floating mb-3">
                <input asp-for="UserName" class="form-control auth-form-transparent" placeholder="Email" type="text" />
                <label asp-for="UserName">Email *</label>
                <span asp-validation-for="UserName" class="text-light"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control auth-form-transparent form" placeholder="Password" type="password" />
                <label asp-for="Password">Password *</label>
                <span asp-validation-for="Password" class="text-light"></span>
                <span class="text-light">
                    @ViewData["InvalidLogin"]
                </span>
            </div>
            <div class="forgot-pass">
                <a asp-action="ForgotPassword">Forgot Password</a>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-secondary btn-rounded btn-lg">Login</button>
            </div>
            <p class="sign-up">
                "Don't have an Account?"
                <a asp-action="Register">Sign Up</a>
            </p>
        </form>
    </div>
</div>