@model ResetPasswordVM

@{
    Layout = "_LoginLayout";
}

<div class="card card-inverse-danger col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
        <h2 class="card-title text-center mb-3">Enter New Password</h2>
        <form asp-action="ResetPassword" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control auth-form-transparent" placeholder="New Password" type="password" />
                <span asp-validation-for="Password" class="text-light"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-secondary btn-rounded btn-lg">Reset Your Password</button>
            </div>
            <input type="hidden" asp-for="Email">
            <input type="hidden" asp-for="Code">
        </form>
    </div>
</div>