@{
    Layout = "_LoginLayout";
}

<div class="card card-inverse-danger col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
        <p>
            Password reset link has been sent. Please check your E-mail Address.
        </p>

    </div>
</div>