@model List<CashAdvanceVM>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cash Advance List</h4>
        <a asp-controller="Advance" asp-action="Create">
            <button class="btn btn-outline-primary">Add Cash Advance</button>
        </a>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Cash Advance To</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.RequestedAmount</td>
                                        <td>
                                            <button class="btn btn-outline-primary" asp-controller="CashAdvance" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                            <button class="btn btn-outline-danger" asp-controller="CashAdvance" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>