@model CashAdvanceUpdateDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Update A Cash Advance</h5>
                <form asp-controller="CashAdvance" asp-action="Update" method="post" id="updateAdvanceForm" onsubmit="return validateDate();">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Status" />
                        <input type="hidden" asp-for="AdvanceToId" />
                        <input type="hidden" asp-for="UpdateDate" />

                        <div class="form-group">
                            <label asp-for="Description" class="form-label">Description</label><br />
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <input asp-for="Description" type="text" class="form-control mb-3" placeholder="Enter Description">
                        </div>

                        <div class="form-group">
                            <label asp-for="RequestedAmount" class="form-label">Requested Amount</label><br />
                            <span asp-validation-for="RequestedAmount" class="text-danger"></span>
                            <input asp-for="RequestedAmount" type="number" class="form-control mb-3">
                        </div>

                        <div class="form-group">
                            <label asp-for="InstallmentCount" class="form-label">Installment Count</label><br />
                            <span asp-validation-for="InstallmentCount" class="text-danger"></span>
                            <input id="installmentCountInput" asp-for="InstallmentCount" type="number" class="form-control mb-3">
                        </div>

                        <div class="form-group">
                            <label asp-for="FinalDateRequest" class="form-label">Final Date Request</label><br />
                            <span asp-validation-for="FinalDateRequest" class="text-danger"></span>
                            <input asp-for="FinalDateRequest" type="date" class="form-control mb-3">
                        </div>

                        <div class="form-group">
                            <label asp-for="Currency" class="form-label">Currency</label><br />
                            <span asp-validation-for="Currency" class="text-danger"></span>
                            <select asp-for="Currency" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<Currency>()"></select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block">Save Cash Advance</button>
                        </div>
                    </div>
                </form>
                <a asp-controller="CashAdvance" asp-action="Index" class="ms-4 mb-2 mt-0">
                    <button class="btn btn-outline-info">Back to List</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    var formId = "updateAdvanceForm";
    var inputId = "finalDate";
    function validateDate() {
        var form = document.getElementById(formId);
        var input = document.getElementById(inputId);
        var now = new Date();
        var enteredDate = new Date(input.value);


        if (enteredDate < now) {
            alert("You cannot select a past date!");
            return false;
        }

        form.submit();
    }
</script>
